/*Color Reference: turquoise: #4ECDC4; silver: #bdc3c7;*/

/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

.clear {
    clear: both;
}


body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1;
}

h2 {
    width: 100%;
    letter-spacing: 0.5px;
    line-height: 63px;
    font-weight: 600;
    font-size: 63px;
    text-transform: uppercase;
    margin: 1em auto 0;
    text-align: center;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    line-height: 1.5;
}

p {
    font-size: 1em;
    line-height: 2;
}


/* Header */
header {
    min-height: 70px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 1;
}

.logo {
    float: left;
    margin: .5em;
}

.logo img {
    border-radius: 50px;
    float: left;
    padding: .5em;
}

header {
    background-color: #4ECDC4;
    color: white;
}

h1 {
    display: inline;
    font-size: 24px;
    line-height: 3.5;
    text-transform: uppercase;
}

nav {
    float: right;
    padding-right: 5%;
    margin: 2em auto;
}

nav li {
    display: inline-block;
    margin-top: -15px; 
}

nav li a {
     padding: 15px;
}

nav li a,
nav li a:visited {
    text-decoration: none;
    color: inherit;
}

nav li a:hover {
    color: #4ECDC4;
    background-color: white;
    transition: all .5s ease-in-out;
}

.subhead {
    margin: -25px;
}
.subhead li {
    display: inline;
    padding-right: 5px;
    text-transform: uppercase;
}


 /* Begin Content Styles */

.hero {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #4ECDC4;
    height: 40px;
    position: relative;
    margin-top: -18px;
}

footer p {
    color: white;
    font-size: 10px;
    text-align: center;
}

section {
    height: 600px;
}

.onethird {
    width: 31%;
    display: inline-block;
    text-align: center;
    margin: 3% 1%;
}

.overview {
    background-color: #4ECDC4;
    padding: 8em;
    color: white;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../assets/product_user_experience_design.jpg");
    background: -moz-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../assets/product_user_experience_design.jpg");
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../assets/product_user_experience_design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* General button style (reset) */

.btn {
    border: 3px solid #fff;
    color: #fff;
    background: #4ECDC4;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;   
}

.btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.btn:hover,
.btn:active {
    color: #4ECDC4;
    background: #fff;
}

.shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

@media screen and (max-width: 600px) {
    body {
        text-align: center;
    }
    header {
        max-height: 70px;
    }
    header li {
        visibility: hidden;
    }

   h1 {
        line-height: 1;
        display: inherit;
        text-align: left;
    }
    .logo {
        margin: 0;
    }

    .logo img {
        height: 60px;
        padding: 0;
        display: inline-block;
        float: left;
        margin: 5px 10px;
    }

    .logo .subhead {
        visibility: hidden;
    }
    .overview {
        height: 500px;
        padding: 2em;
        margin-top: 50px;
    }
    h2 {
        font-size: 1.8em;
        line-height: 1;

    }
    h3 {
        font-size: 1.4em;
    }
    p {
        line-height: 1.5;
    }
    .btn {
        padding: 25px;
    }

}